<div class="container-fluid">
  <h2 class="text-center">Iniciar Sesión</h2>
  <div class="row">
    <div class="col-12">
      <form method="post" action="/admin/login">
        <div class="mb-3">
          <label for="username" class="form-label">Nombre:</label>
          <input type="text" class="form-control" name="userName" id="username" aria-describedby="helpId"
            placeholder="" />
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Contraseña:</label>
          <input type="password" class="form-control" name="password" id="" placeholder="" />
        </div>
        <button type="submit" class="btn btn-primary">
          Ingresar
        </button>
      </form>
    </div>
  </div>
  <div class="row p-3">
    Si no recuerdas tu contraseña, haz clic aquí para restablecer contraseña
  </div>
</div>
